#defecttreatment-wrap
  .tree-wrap
    .button
      el-button(type="primary" size="small" @click="openDialog('新建隐患类别')") 新建隐患类别
      //- el-button(type="primary" size="small" @click="openDialog('新建项目')") 新建项目
    el-input(v-model="state" placeholder="请输入搜索类别" style="width: 100%" size="small" clearable)
      template(slot="append")
        i.el-icon-search
    el-tree(ref="attrList" :data="store.store.state.DefecttreatmentStore.tree" :props="defaultProps" @current-change="handleNodeClick" highlight-current)
      span(class="span-ellipsis" slot-scope="{ node, data }")
        span(:title="node.label") {{ node.label }}
  .data-wrap
    .statistics
    .table-search
      div
        el-button(type="primary" size="small" @click="openDialog('添加')") 添加
      div
        span 名称搜索:
        el-input(v-model="store.store.state.DefecttreatmentStore.troubleshooting" placeholder="请输入搜索项" style="width: 200px" size="small" clearable)
        span 级别过滤:
        el-select(v-model="store.store.state.DefecttreatmentStore.hazardLevel" placeholder="隐患级别" size="small" clearable)
          el-option(v-for="item in roleList" :key="item.name" :label="item.name" :value="item.name")
        el-button(type="primary" size="small" @click="searchTable") 搜索
    .table-wrap
      el-table(ref="table" :data="store.store.state.DefecttreatmentStore.tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :header-row-class-name="headerRow" :header-cell-class-name="headerRow" :cell-class-name="cell" border)
        el-table-column(type="selection" width="55")
        el-table-column(prop="troubleshooting" label="排查内容" show-overflow-tooltip)
        el-table-column(prop="hazardLevel" label="隐患级别" show-overflow-tooltip width="120")
        el-table-column(prop="rectificationRequirements" label="整改要求" show-overflow-tooltip)
        el-table-column(prop="rectificationDate" label="整改时限" show-overflow-tooltip width="120")
        el-table-column(prop="state" label="状态" show-overflow-tooltip width="120")
        el-table-column(label="操作" width="120")
          template(slot-scope="scope")
            span.btn(@click="getPeople(scope.row)") 修改
            span.btn(@click="del(scope.row.id)") 删除
    .page-wrap
      el-pagination(@current-change="handleCurrentChange" :current-page="store.store.state.DefecttreatmentStore.pageIndex" :page-size="store.store.state.DefecttreatmentStore.pageSize" layout="total, prev, pager, next, jumper" :total="store.store.state.DefecttreatmentStore.total")
  .add
    el-dialog(:title="dialogTitle" :visible.sync="dialog" :before-close="clear" width="500px")
      ul
        li(v-for="item in dialogTitle === '新建隐患类别' ? category : safety" :key="item.name")
          span {{item.name}}：
          span.must(v-if="item.must") *
          span.nomust(v-else)
          el-input(v-if="!item.list" v-model="item.value" :type="item.textarea ? 'textarea' : item.name === '整改时限' ? 'number' : 'input'" placeholder="请输入" width="200px")
          el-select(v-else v-model="item.value" placeholder="请选择" :disabled="item.name === '上级类别' || item.name === '隐患类别'")
            el-option(v-for="item in item.list" :key="item.id" :label="item.name" :value="item.id")
      span(slot="footer" class="dialog-footer")
        el-button(@click="clear") 取 消
        el-button(type="primary" @click="verify") 确 定